.profile {
}

.profile__head {
    text-align: center;
}

.profile__head-name {
    font-size: 16px;
    font-weight: 400;
}

.profile__image {
    width: fit-content;
    margin-inline: auto;
    margin-top: 32px;
    text-align: center;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &::before {
        content: "";
        width: 84px;
        height: 84px;
        position: absolute;
        border-radius: 50%;
        top: 51%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border: 1px solid #e91e63;
        z-index: -1;
    }

    img {
        border-radius: 50%;
        width: 76.875px;
        height: 76.875px;
    }
}

.profile__body {
    margin-top: 43px;
}

.profile__counts {
    display: flex;
    max-width: 241px;
    margin-left: calc((75 / 375) * 100%);
    margin-right: calc((59 / 375) * 100%);
    gap: 10px;
    justify-content: space-between;
}

.count {
    text-align: center;
}

.count__number,
.count__text {
    display: block;
}

.count__number {
    font-size: 16px;
}

.count__text {
    font-size: 14px;
    color: #9e9e9e;
}

.profile__posts-content {
    margin-top: 42px;
}

.profile__posts-upper-row,
.profile__posts-lower-tier {
    display: grid;
    gap: 8px;
}

.profile__posts-upper-row {
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: repeat(2, 1fr);

    .profile__post {
        &:nth-child(1) {
            grid-area: 1 / 1 / 3 / 2;
        }

        &:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
        }

        &:nth-child(3) {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}

.profile__posts-lower-tier {
    margin-top: 8px;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: repeat(2, 1fr);

    .profile__post {
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
        }

        &:nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
        }

        &:nth-child(3) {
            grid-area: 1 / 2 / 3 / 3;
        }
    }
}

.profile__post {
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
